*.env
*.pyc
.dean.env
__pycache__/
android/dean-finder/*.apk
android/dean-finder/*.idsig
android/dean-finder/*.keystore
android/dean-finder/build/
android/dean-finder/topic.secret
android/dean-sensors/*.apk
android/dean-sensors/*.idsig
android/dean-sensors/*.keystore
android/dean-sensors/build/
lights.json
memory.json
place.json
roku.json
routines.json
schedule.json
sensors.json
snap.jpg
